.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: azure;
}

.actions {
    display: flex;
    justify-content: flex-end;
}
.action {
    margin-left: 10px;
    cursor: pointer;
}
.action.menu {
    position: relative;
}
.menu__overlay {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: brown;
    border-radius: 10px;
    padding: 10px;
}
.menu__overlay__list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}