.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: azure;
}

.actions {
    display: flex;
    justify-content: flex-end;
}
.action {
    margin-left: 10px;
    cursor: pointer;
    width: 16px;
}
.action.menu {
    position: relative;
}